MONGO_DB_LINK=""
MONGOLOQUENT_DATABASE_NAME=""
MONGOLOQUENT_TIMEZONE=""
SECRET_KEY_JWT=""
MIDTRANS_SERVER_KEY=""
GROQ_API_KEY=""
tavily_api_key=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""