MONGO_DB_LINK=""
MONGOLOQUENT_DATABASE_NAME=""
MONGOLOQUENT_TIMEZONE=""
SECRET_KEY_JWT=""
MIDTRANS_SERVER_KEY=""
MIDTRANS_SERVER=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_BACKEND_URL=""